
body, h1, h2, h3, h4, h5, ul, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

:root {
  --main: #000;
  --second: #6E9C9F;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}